### Node & Vite ###
node_modules/
dist/
.vite/

### Logs ###
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

### Build artifacts ###
coverage/
.eslintcache

### OS / Editor junk ###
.DS_Store
Thumbs.db
*.swp
.vercel
